@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DIN Condensed";
  src: url(/fonts/DIN-Condensed.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: optional;
}

body {
  @apply bg-gray-100 dark:bg-gray-900 text-black dark:text-white;
}

::-webkit-scrollbar {
  display: none;
}

[data-reach-tabs] {
  @apply flex flex-col items-center w-full;
}

[data-reach-tab-list] {
  width: 200px;
  border-radius: 50px;
  color: #aaa;
  font-size: 12px;
  font-weight: 600;

  @apply bg-gray-200 dark:bg-gray-800 !important;
}

[data-reach-tab] {
  width: 50%;
  margin: 4px !important;
  border-radius: 15px;

  @apply focus:border-transparent !important;
  @apply focus:outline-none focus:ring focus:border-blue-300;
}

[data-reach-tab][data-selected] {
  color: black;
  border-bottom-color: transparent !important;

  @apply bg-white dark:bg-gray-900 text-black dark:text-white shadow-lg;
}

[data-reach-tab-panels] {
  @apply w-full px-4 md:px-12;
}

[data-reach-tab-panel] {
  @apply w-full focus:outline-none;
}

[data-reach-listbox-input] {
  @apply ml-2;
}

[data-reach-listbox-popover],
[data-reach-listbox-list] {
  @apply focus:outline-none;
}

[data-reach-listbox-popover]:focus-within {
  @apply outline-none shadow-none !important;
}

[data-reach-listbox-button] {
  @apply text-xl border-none uppercase py-0 px-3 !important;
  @apply rounded focus:outline-none focus:ring focus:border-blue-300;
}

[data-reach-listbox-option] {
  @apply uppercase px-4 !important;
}

[data-reach-popover] {
  @apply bg-gray-100 dark:bg-gray-900 !important;
}

[data-reach-dialog-content] {
  @apply bg-white dark:bg-gray-800 !important;
}

@media (max-width: 767px) {
  [data-reach-dialog-content] {
    width: 100vw !important;
    margin: 0 !important;
    min-height: 100%;
  }
}

@layer utilities {
  .overlay {
    background-image: url(/images/light-overlay.png);
    background-size: contain;
  }

  @variants dark {
    .overlay-dark {
      background-image: url(/images/dark-overlay.png);
      background-size: contain;
    }
  }
}
