@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DIN Condensed";
  src: url("/fonts/DIN-Condensed.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

body {
  background: #eee;
}

[data-reach-tabs] {
  @apply flex flex-col items-center w-full;
}

[data-reach-tab-list] {
  width: 200px;
  border-radius: 50px;
  color: #aaa;
  font-size: 12px;
  font-weight: 600;

  @apply mb-8;
}

[data-reach-tab] {
  width: 50%;
  margin: 4px !important;
  border-radius: 15px;

  @apply focus:outline-none focus:ring focus:border-blue-300;
}

[data-reach-tab][data-selected] {
  color: black;
  border-bottom-color: transparent !important;
  background-color: white;

  @apply shadow-lg;
}

[data-reach-tab-panels] {
  @apply w-full px-4 md:px-12;
}

[data-reach-tab-panel] {
  @apply w-full focus:outline-none;
}

@media (max-width: 767px) {
  [data-reach-dialog-content] {
    width: 100vw !important;
    margin: 0 !important;
  }
}
